.container {
  max-width: 800px;
  margin: 0 auto;

}
body {
  background-color: lightblue;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #007bff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f9fa;
}

li p {
  margin: 0;
}

button {
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}

button:hover {
  background-color: #0069d9;
  cursor: pointer;
}

form {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f9fa;
}

form h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #007bff;
}

input[type="text"], label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  background-color: #e9ecef;
  color: #333;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
}

button[type="submit"]:hover {
  background-color: #0069d9;

}
