<div class="container">
  <h1>Job Applications</h1>
  <ul>
    <li *ngFor="let jobApp of jobApps">
      <p>Job Id: {{ jobApp.id }}</p>
      <p>Company Name: {{ jobApp.companyName }}</p>
      <p>Job Description: {{ jobApp.jobDescription }}</p>
      <button class="btn btn-outline-primary" (click)="setSelectedJobApp(jobApp)">Edit</button>
      <button (click)="deleteJobApp(jobApp.id)">Delete</button>

  <form *ngIf="editJobApp === jobApp">
    <h1>Update Job </h1><br>
    <label for="company">Company:</label>
    <input type="text" name="companyName" id="companyName" [(ngModel)]="editJobApp.companyName">
    <label >Description:</label>
    <input type="text" name ="jobDescription" id="jobDescription" [(ngModel)]="editJobApp.jobDescription">
    <button (click)="updateJobApp(editJobApp)">Edit Application</button>
  </form>

    </li>
  </ul>
  <H1>Add Job Application</H1>
  <form (submit)="addJobApp(newJobApp)">
    <label for="company">Company:</label>
    <input type="text" name="companyName" id="companyName" [(ngModel)]="newJobApp.companyName">
    <label for="jobDescription">Job Description:</label>
    <input type="text" name ="jobDescription" id="jobDescription" [(ngModel)]="newJobApp.jobDescription">
    <button type="submit">Add Job Application</button>
  </form>


</div>
