<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li *ngIf="!loggedIn()">
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </li>
    <li *ngIf="loggedIn() && loggedInUser.role === 'admin'">
      <a routerLink="/jobApps" routerLinkActive="active">Job Applications</a>
    </li>
    <li *ngIf="!loggedIn()">
      <a routerLink="/register" routerLinkActive="active">Register</a>
    </li>
    <li *ngIf="loggedIn()">
      <a routerLink="/profile" routerLinkActive="active">Profile</a>
    </li>
    <li *ngIf="loggedIn()">
      <a routerLink="/logout" routerLinkActive="active">Logout</a>
    </li>
  </ul>
</nav>
